/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
body {
	padding-top: 30px;
	font-family: "Open Sans", "Avenir", "Helvetica", sans-serif;
}


/* NAVIGATION */
nav a {
	border-radius: 4px;
	padding: 0 15px;
	color: white;
	text-shadow: 1px 2px 0 #222;
	font-size: x-large;
	font-weight: bold;
	text-decoration: none;
}
nav {
	background-color: #1F7CDB;
	padding: 10px;
	box-shadow: 0 8px 6px -4px #999;
	
	/* Make sticky */
	position: fixed;
	z-index: 10;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
}


/* FORMS */
#error_explanation {
	background-color: #FCC;
	padding: 2px;
}
.field_with_errors label::before {
	content: "*";
	color: red;
}

fieldset, label, input:not([type=submit]), select, textarea {
	margin-left: 10px;
}
input, textarea {
	font-size: 1em;
}
fieldset {
	width: 15em;
}