// Place all the styles related to the Businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* OPENTABLE */
// Hide their logo
.ot-powered-by {
	display: none
}

// Use lex.ma color scheme
.ot-button {
	background-color: #1F7CDB !important;
	box-shadow: 0 0 0 1px #04A !important;
}
.ot-button:hover{
	background-color: #1968B7 !important;
}